POSTGRES_USER=postgres_admin
POSTGRES_PASSWORD=change_me!
POSTGRES_DB=db_ai_workshop
POSTGRES_HOST=postgres
POSTGRES_NON_ROOT_USER=ai_workshop
POSTGRES_NON_ROOT_PASSWORD=change_me!
ENCRYPTION_KEY=change_me!
N8N_SMTP_HOST=smtp.gmail.com
N8N_SMTP_PORT=465
N8N_SMTP_USER=mail@example.com
N8N_SMTP_PASS=change_me!
N8N_SMTP_SENDER=name
N8N_SMTP_SSL=true
